body {
    background-color: black;
    color: white;
    font-family: arial;
    text-align: center;
}

h1, h3  {
    text-align: center;
    color: blue;
}



a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#edit a {
    color: green;
}
#delete a {
    color: red;
}