{% extends 'base.html' %}

{% block title %} Guestbook {% endblock title %}

{% block page_content %}

<form method="post">

    <h3>Please leave your message</h3>

    <p>Full name: <input type="text" name="fullname"></p>
    <p>Email: <input type="text" name="email"></p>
    <p><textarea name="message" cols="30" rows="10" placeholder="Enter your message"></textarea></p>

    <button type="submit">Submit</button>

</form>

    <h3>Guestbook list</h3>

    {% for guestbook in list %}
        <p><a href="/guestbook/{{ guestbook.key.id() }}">{{ guestbook.fullname }}</a> at {{ guestbook.entrymade.strftime('%d %B %Y at %H:%M') }}
        <p>{{ guestbook.guestbook }}</p>
        <div id="edit"><a href="/guestbook/{{ guestbook.key.id() }}/modify"><b><i>Modify</i></b></a></div>
        <div id="delete"><a href="/guestbook/{{ guestbook.key.id() }}/delete"><b><i>Delete</i></b></a></div>
        <br>

    {% else %}
            <p>No messages yet.</p>
    {% endfor %}

{% endblock page_content %}
