<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <title>Result</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
            <form action="/rezultat" method="post">
                <p>Full name: </p><input name="fullname">
                <p>Email: </p><input name="email">
                <p>Message: </p><input name="message">
                <br>
                <button type="submit">Submit</button>
            </form>
    </body>
</html>