{% extends "base.html" %}

{% block title %}Edit Message{% endblock title %}

{% block page_content %}

<h3>Please edit your Guestbook entry</h3>

<form action="/guestbook/{{ guestbook.key.id() }}/modify" method="post">
    <p>Full name: <input name="fullname" value="{{ guestbook.fullname }}"></p>
    <p>Email: <input name="email" value="{{ guestbook.email }}"></p>
    <p><textarea name="message" cols="30" rows="10">{{ guestbook.message }}</textarea></p>
</form>
<button type="submit">Edit</button>
{% endblock page_content %}