<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single guestbook</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
        <h1>Details of a guestbook entry</h1>
        <p><b>Key ID:</b> {{ guestbook.key.id() }}</p>
        <p><b>Full name: </b>{{ guestbook.fullname }}</p>
        <p><b>Email:</b>  {{ guestbook.email }}</p>
        <p><b>Message</b> {{ guestbook.message }}</p>
        <p><b>Entry made:</b> {{ guestbook.entrymade }}</p>
</body>
</html>